body {
  font-family: Arial;
  margin: 0;
  direction: rtl;
}




header {
  background: #222;
  color: #fff;
  padding: 15px;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration-color: #63ac20e7;
}

.lang-switch button {

  display: flex;
    align-items: center;
    padding: 5px 20px;
    background: #14971b;
    color: rgb(21, 8, 202);
    cursor: pointer;
    border: 2px solid #6d08f0;
    border-radius: 20px;
    transition: 0.3s;
}


.lang-switch {
    margin-right: auto;
    display: flex;
    gap: 8px;
}

.lang-switch button{
    background: transparent;  
    
}










.hero {
  padding: 40px;
  background: #f2f2f2;
  text-align: center;
}




.btn {
  background: rgb(101, 88, 138);
  padding: 10px 20px;
  font-weight: bold;
				font-size: 20px;
				animation: pulseColors 8s infinite;
				
			}
			@keyframes pulseColors {
				0%   { color: red;     text-shadow: 0 0 10px red; }
				20%  { color: orange;  text-shadow: 0 0 10px orange; }
				40%  { color: yellow;  text-shadow: 0 0 10px yellow; }
				60%  { color: green;   text-shadow: 0 0 10px green; }
				80%  { color: blue;    text-shadow: 0 0 10px blue; }
				100% { color: violet;  text-shadow: 0 0 10px violet;}
			}








.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides img {
  display: none;
  width: 100%;
  max-width: 600px;
}

.slides img.active {
  display: block;
}
.contact-options {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.contact-btn {
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;



}
.services_title {
  padding: 60px 20px;
  text-align: center;
  color: #2f00ff;
}
.services{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  color: #111110;
}

.service{
  background: #8d1a1a33;
  padding: 25px;
  border-radius: 8px;
}

/* Footer */
.main-footer {
  background: #543d6e;
  color: white;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.main-footer h3 {
  margin-bottom: 10px;
}

.main-footer a {
  color: #eceff0;
  text-decoration: none;
}

.main-footer a:hover {
  color: #fff;
 
}

.footer_b{
  background: #0e0b0b;
  color: #fff;
  text-align: center;
  padding: 5px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.main-footer {
  position: relative; /* مهم حتى يتموضع الشعار بداخله */
  background: #4977cc;
  color: white;
  padding: 40px 20px;
}

.footer-logo {
  position: absolute;
  top: 0.05px;   /* مسافة من الأعلى */
  right: 0.05px;  /* مسافة من اليسار */
}

.footer-logo img {
  width: 100px;
  height: auto;
}
 
.products-preview {
  padding: 60px 20px;
  background-color: #ffffff;
}

.products-preview .container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  text-align: center;
}

.product-box {
  border: 1px solid #eee;
 
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product-box:hover {
  transform: translateY(-5px);
}

.product-box img {
  
  width: 100%;
  height: 300px;
  min-height: 100px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #fff;
 
}

.product-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-box p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
  
}

.product-box1 {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product-box1:hover {
  transform: translateY(-5px);
}
.product-box1 img {
  width: 350px;
  height: 500px;;
  min-height: 100px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #00f7ff;
}
.product-box1 h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff6600;
}

.product-box1 p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
  
}

.more-btn {
  grid-column: 1 / -1;
  margin-top: 20px;
}

.btn-more {
  display: inline-block;
  padding: 12px 30px;
  background-color: #1e3a8a;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
}

.btn-more:hover {
  background-color: #0f2a66;
}

.zoom-img {
  cursor: pointer;
  transition: 0.3s;
}

.zoom-img:hover {
  opacity: 0.8;
}

/* الخلفية */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

/* الصورة المكبرة */
.modal-content {
  max-width: 90%;
  max-height: 85%;
  border-radius: 12px;
}

/* زر الإغلاق */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}


.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}



.index_site_title{
  
    font-weight: bold;
    font-size: 35px;
    background: linear-gradient(
      90deg,
    #ff0000,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
    );
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 9s linear infinite;
}
.index_site_title1{
  
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(
    90deg,
  #ff0000,
  #ffff00,
  #00ff00,
  #00ffff,
  #0000ff,
  #ff00ff,
  #ff0000
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s linear infinite;
}







.whatsapp { background: #25d366; }
.email { background: #0072c6; }
.call { background: #444; }

@keyframes shine {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}




